*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  transition: all .2s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x:hidden;
  scroll-behavior: smooth;
 
}








.queryBuilder{
 /* background-color: #000;*/
  width: 70rem !important;
  margin: 2rem auto !important;
  padding: 2rem !important;

}

.ruleGroup{
  border: none !important;
  padding: 2rem !important;
  background-color: #242526  !important;
}

.ruleGroup-combinators{
  margin: 0 !important;
text-transform: uppercase !important;
font-size: 1.4rem !important;
padding:.3rem .6rem !important;
cursor: pointer !important;
background-color: #B03060 !important;
color: #fff !important;
}


.ruleGroup-addRule,.ruleGroup-addGroup{
  margin: 0 1rem!important;
  text-transform: lowercase !important;
  font-size: 1.6rem !important;
  padding:.3rem .6rem !important;
  cursor: pointer !important;
  color:#fff !important;
  text-decoration: none !important;
  letter-spacing: .1rem !important;
  border-bottom: .1rem solid #B03060;
}



.ruleGroup-body{
  width: 100% !important;
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
}

.rule{
  display: flex !important;
  gap: 2rem !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 1rem 0;
}
select:not(select.ruleGroup-combinators),input{
  width: 22rem !important;
  background-color: transparent !important;
  border-bottom: .1rem solid white !important;
  color:#fff !important;
  font-size: 1.6rem !important;
  padding:0 1rem;
}


.rule-remove{
  display: none !important;
}

.ruleGroup-remove{
  font-size: 1.6rem !important;
cursor: pointer !important;
background: #B03060 !important;
text-decoration: none !important;
width: 2rem !important;
height: 2rem !important;
color: #fff !important;
}


select option{
  background: #B03060 !important;
 color: #fff;
 border: none;
    }     
